.skills-container {
  max-width: 80%;
  margin: auto;
  height: 90vh;
  padding-top: 60px;
  margin-bottom: 20px;
}
.skills-container > h1 {
  padding-top: 40px;
  text-align: center;
  font-weight: 800;
  font-size: 45px;
}
.skills-para {
  padding: 50px 20px;
}
.skill-line {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.skill {
  cursor: pointer;
  width: 45%;
  padding-bottom: 20px;
}
.all-skill {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.all-skill p{
    font-size: 17px;
}

.line {
  display: flex;
  width: 100%;
  background: rgb(82, 82, 82);
  height: 12px;
  border-radius: 3px;
}
.cpp-prsentg{
    position: relative;
    right: 70px;
}
.cpp-line {
  border-radius: 3px;
  width: 85%;
  background: #0078da;
}
.html-line {
  border-radius: 3px;
  width: 90%;
  background: #0078da;
}
.html-prsentg{
    position: relative;
    right: 50px;
}

.css-line {
  border-radius: 3px;
  width: 80%;
  background: #0078da;
}
.css-prsentg{
  position: relative;
  right: 100px;
}
.js-line {
  border-radius: 3px;
  width: 75%;
  background: #0078da;
}
.js-prsentg{
    position: relative;
    right: 95px;
}
.react-line {
  border-radius: 3px;
  width: 90%;
  background: #0078da;
}
.react-prsentg{
    position: relative;
    right: 50px;
}
.nodejs-line {
  border-radius: 3px;
  width: 80%;
  background: #0078da;
}
.nodejs-prsentg{
    position: relative;
    right: 90px;
}
.expressjs-line {
  border-radius: 3px;
  width: 73%;
  background: #0078da;
}
.expressjs-prsentg{
    position: relative;
    right: 150px;
}
.mongodb-line {
  border-radius: 3px;
  width: 85%;
  background: #0078da;
}
.mongodb-prsentg{
    position: relative;
    right: 90px;
}


@media only screen and (max-width:1000px) {
  .skills-container {
    max-width: 100%;
    height: 80vh;
    padding-top: 60px;
  }
  .skills-para{
    padding: 30px 3px;
    font-size: 16px;
    line-height: 30px;
  }
  .skill-line {
    padding-left: 10px;
  }
  .all-skill p{
      font-size: 14px;
  }
  .line {
    height: 8px;
  }
  .cpp-prsentg{
      right: 20px;
  }
  .html-prsentg{
      right: 10px;
  }
  .css-prsentg{
    right: 30px;
  }
  .js-prsentg{
      right: 25px;
  }
  .react-prsentg{
      right: 20px;
  }
  .nodejs-prsentg{
      right: 30px;
  }
  .expressjs-prsentg{
      right: 40px;
  }
  .mongodb-prsentg{
      right: 20px;
  }
  

}