.navbar-container {
  width: 100%;
  margin: auto;
  height: 14vh;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #191d20;

}

.name-logo p {
  font-size: 20px;
  font-weight: 500;
}

.nav-class {
  display: flex;
  gap: 80px;
  justify-content: space-around;
}

.show-web {
  display: flex;
  list-style: none;
  gap: 30px;
}

.show-web li {
  position: relative;
}

.show-web li a:hover::after {
  content: " ";
  position: absolute;
  height: 3px;
  border-radius: 5px;
  width: 100%;
  top: 30px;
  left: 0px;
  background: #2aaaf8;
  animation: lineanime 0.9s ease-in-out forwards;
}

@keyframes lineanime {
  0% {
    width: 0%;
    left: 0%;
  }

  50% {
    width: 100%;
    left: 0%;
  }

  100% {
    width: 100%;
    left: 0%;
  }
}

.show-web li a {
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: 0.9s;
}

.show-web li a:hover {
  transform: scale(1.2);
  color: #2aaaf8;
}

.connect-btn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: #2aaaf8;
  border: none;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;

}

.connect-btn:hover {
  border-radius: 30px;
  box-shadow: -1px -1px 15px 3px #2aaaf8;
  transform: scale(1.07);
}

.menu-icon {
  display: none;
}

@media only screen and (max-width:1000px) {
  .navbar-container {
    display: flex;
    height: 12vh;
    box-shadow: -1px -1px 15px 3px #000;
  }

  .nav-class {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .show-web {
    display: none;

  }

  .iconOfMenu {
    z-index: 1;
    text-decoration: none;
    list-style: none;
    top: 90px;
    height: 40vh;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: #151719ed;
    font-size: 21px;


  }

  .iconOfMenu a {
    color: white;
    text-decoration: none;
  }

  .menu-icon {
    position: relative;
    right: 20px;
    font-weight: 800;
    font-size: 30px;
    display: flex;
    align-items: center;
  }

  .name-logo p {
    position: relative;
    left: 20px;
    width: 150px;
    font-weight: 800;
    font-size: 18px;
  }


  .connect {
    display: none;
  }
}